* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding-inline: 3rem;
  margin-inline: auto;
}

header {
  height: 100vh;
  background-image: url(../../assets/header.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
header .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__nav {
  height: 100px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  border-bottom: 1px solid #d5bdaf;
}
.header__nav .logo {
  font-size: 2.5rem;
}
.header__nav .logo span {
  color: #d5bdaf;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__nav ul li {
  height: 100px;
  border-bottom: 2px solid transparent;
}
.header__nav ul li a {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav ul li:hover {
  border-bottom: 2px solid #d5bdaf;
}
.header__nav ul li:hover a {
  color: #d5bdaf;
}
.header__nav .search {
  font-size: 2rem;
  border-left: 1px solid #fff;
  padding-left: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header__nav .search:hover {
  color: #d5bdaf;
}

.header__intro {
  color: #fff;
  background-color: rgba(213, 189, 175, 0.6);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 8rem 2rem 8rem 25rem;
  width: 50%;
}
.header__intro .text {
  width: 100%;
}
.header__intro h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.header__intro p {
  font-size: 1.5rem;
  line-height: 1.9;
}

.header__arrow {
  color: #fff;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding-inline: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__arrow i {
  cursor: pointer;
}

.header__bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__bullet span {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.header__bullet span.active {
  background-color: #d5bdaf;
}
.header__bullet span:hover {
  background-color: #d5bdaf;
}