@use "./variable" as *;

.services {
  padding-block: 10rem;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .service {
    display: flex;
    gap: 5rem;
    margin-bottom: 4rem;

    i {
      font-size: 4.5rem;
    }

    .service--info {
      h2 {
        color: $main-color;
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.5rem;
        color: #777;
      }
    }
  }
}
@media (max-width: 767px) {
  .services__content {
    .service {
      flex-direction: column;
      text-align: center;
      margin-top: 3rem;
      gap: 2rem;
      width: 100%;
      padding-inline: 6rem;
    }
  }
}
